form {
  display: flex;
  align-items: center;
}
form * {
  margin: 0;
}
form input {
  margin-right: 1rem;
  padding: 1rem 0;
}

ul {
  width: 700px;
}
li {
  display: flex;
}
li span {
  margin-right: auto;
}
li a:nth-child(2) {
  margin-right: 10px;
}

li.checked {
  background-color: green;
}
